.banner {
    background: var(--principal-degrade);
    color: var(--fonte-cor);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 22px;
    font-weight: bold;
}

.banner__texto {
    font-weight: 500;
    margin: 3em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 3px solid var(--fonte-cor);
    color: var(--fonte-cor);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--fonte-cor);
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em;
}